:root {
  /* Primary */
  --color-primary: #901C1C;
  --color-primary-light: #D3573C;

  /* Secondary */
  --color-secondary: #D3573C;
  --color-secondary-light: #FAFAFA;
  --color-secondary-dark: #525252;
}